<ul>

<li>
<%= link_to "Home", root_path, class: "#{boldcss('landing')}" %>
</li>
<li>
<%= link_to "About us", about_us_path, class: "#{boldcss('about-us')}"  %>
</li>
<li>
<%= link_to "Apps", apps_path, class: "#{boldcss('apps')}" %>
</li>
<li>
<%= link_to "Pricing", pricing_path, class: "#{boldcss('pricing')}"  %>
</li>

</ul>